body {
    background: blue;
    text-align: center;
    color:azure
}

body p {
    color:red;
    font-size: 20px;
}

table {
    background-color: darkblue;
    color:gold;
    text-align: center;
}