body {
    background: blue;
    text-align: center;
    color:azure
}

body p {
    color:gold;
    font-size: 20px;
    font-style: bold;
}

table {
    background-color: darkblue;
    color:gold;
    margin-left:auto;
    margin-right:auto;
}