body {
    background: rgb(64, 64, 247);
    text-align: center;
    color:azure
}

body p {
    color:gold;
    font-size: 20px;

}

table {
    background-color: darkblue;
    color:gold;
    margin-left:auto;
    margin-right:auto;
}
p#link {
    color:crimson
}

a:link {
    color: green
}
a:visited {
    color:pink
}
a:hover {
    color:red
}
a:active {
    color: lightskyblue

}